@model SIGES_INDEL.Models.Estudiante
@{
    List<SIGES_INDEL.Models.Complementos.Genero> xgenero = ViewBag.generos as List<SIGES_INDEL.Models.Complementos.Genero>;

    List<SIGES_INDEL.Models.Complementos.Discapacidades> xdiscapacidades = ViewBag.discapacidades as List<SIGES_INDEL.Models.Complementos.Discapacidades>;

    List<SIGES_INDEL.Models.Complementos.Nacionalidades> xnacionalidades = ViewBag.nacionalidades as List<SIGES_INDEL.Models.Complementos.Nacionalidades>;

    List<SIGES_INDEL.Models.Complementos.EstadoCivil> xestadosCiviles = ViewBag.estadoCivil as List<SIGES_INDEL.Models.Complementos.EstadoCivil>;

    List<SIGES_INDEL.Models.Complementos.Etnia> xetnia = ViewBag.etnias as List<SIGES_INDEL.Models.Complementos.Etnia>;

    List<SIGES_INDEL.Models.Complementos.Parentesco> xparentescos = ViewBag.parentescos as List<SIGES_INDEL.Models.Complementos.Parentesco>;
}
@{
    ViewData["Title"] = "Borrar Alumnos";
}
<form asp-action="Borrar" enctype="multipart/form-data" onsubmit="confirmarEliminacion(event)">
    <div class="container py-4">
        <h3 class="text-center mb-4 fw-bold">Borrar el alumno @Model.NombreCompleto</h3>
        <div class="card shadow border-2 border-danger rounded-3 mb-4 glass">
            <div class="card-header bg-danger">
                <h3 class="text-center mb-4 fw-bold">Datos Personales</h3>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-4 text-center mb-3 mb-md-0">
                        <label asp-for="ImagenEstudianteArchivo" class="control-label"></label>
                        @if (Model.ImagenEstudiante != null)
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImagenEstudiante)"
                                 alt="Imagen de @Model.NombreCompleto"
                                 class="img-thumbnail m-2"
                                 style="max-width: 250px; height: 300px; object-fit: cover; border-radius: 10px;" />
                        }
                        else
                        {
                            <img src="~/images/default-avatar.png"
                                 alt="Previsualización"
                                 class="img-thumbnail m-2"
                                 style="max-width: 250px; height: 300px; object-fit: cover; border-radius: 10px;" />
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label asp-for="NIE" class="control-label"></label>
                                <input asp-for="NIE" class="form-control" readonly disabled />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NombreCompleto" class="control-label"></label>
                                <input asp-for="NombreCompleto" class="form-control" placeholder="Escriba el nombre completo" readonly disabled />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="FechaNacimiento" class="control-label"></label>
                                <input asp-for="FechaNacimiento" type="date" class="form-control" placeholder="Fecha de Nacimiento" readonly disabled />
                                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="GeneroId" class="control-label"></label>
                                <select asp-for="GeneroId" class="form-control" disabled>
                                    <option selected value="">Genero</option>
                                    @foreach (var item in xgenero)
                                    {
                                        <option value="@item.Id">@item.Generos</option>
                                    }
                                </select>
                                <span asp-validation-for="GeneroId" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="Direccion" class="control-label"></label>
                                <input asp-for="Direccion" class="form-control" placeholder="Direccion Completa" readonly disabled />
                                <span asp-validation-for="Direccion" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="DiscapacidadesId" class="control-label"></label>
                                <select asp-for="DiscapacidadesId" class="form-control" disabled>
                                    <option selected value="">Discapacidades</option>
                                    @foreach (var item in xdiscapacidades)
                                    {
                                        <option value="@item.Id">@item.Discapacidad</option>
                                    }
                                </select>
                                <span asp-validation-for="DiscapacidadesId" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="EstadoCivilId" class="control-label"></label>
                                <select asp-for="EstadoCivilId" class="form-control" disabled>
                                    <option selected value="">Selecciona Estado Civil</option>
                                    @foreach (var item in xestadosCiviles)
                                    {
                                        <option value="@item.Id">@item.Estado</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="NacionalidadId" class="control-label"></label>
                                <select asp-for="NacionalidadId" class="form-control" disabled>
                                    <option selected value="">Nacionalidad</option>
                                    @foreach (var item in xnacionalidades)
                                    {
                                        <option value="@item.Id">@item.Nacionalidad</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="EtniaId" class="control-label"></label>
                                <select asp-for="EtniaId" class="form-control" disabled>
                                    <option selected value="">Etnia</option>
                                    @foreach (var item in xetnia)
                                    {
                                        <option value="@item.Id">@item.Etnias</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Telefono" class="control-label"></label>
                                <input asp-for="Telefono" class="form-control" placeholder="Telefono Celular" readonly disabled />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="Trabajo" class="control-label"></label>
                                <input asp-for="Trabajo" class="form-control" placeholder="Trabaja el Estudiante?" readonly disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow border-2 border-danger rounded-3 mb-4 glass">
            <div class="card-header bg-danger">
                <h5 class="card-title mb-3 fw-semibold">Representante</h5>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label asp-for="NombreCompletoRepresentante" class="control-label"></label>
                        <input asp-for="NombreCompletoRepresentante" class="form-control" placeholder="Nombre del Representante" readonly disabled />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="DUI" class="control-label"></label>
                        <input asp-for="DUI" class="form-control" placeholder="DUI Del representante" readonly disabled />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="TelefonoRepresentante" class="control-label"></label>
                        <input asp-for="TelefonoRepresentante" class="form-control" placeholder="Telefono Del representante" readonly disabled />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="ParentescoId" class="control-label"></label>
                        <select asp-for="ParentescoId" class="form-control" disabled>
                            <option selected value="">Parentesco</option>
                            @foreach (var item in xparentescos)
                            {
                                <option value="@item.Id">@item.Parentescos</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="TelefonoTrabajoRepresentante" class="control-label"></label>
                        <input asp-for="TelefonoTrabajoRepresentante" class="form-control" placeholder="Telefono de trabajo Del representante" readonly disabled />
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow border-2 border-danger rounded-3 mb-4 glass">
            <div class="card-header bg-danger">
                <h5 class="card-title mb-3 fw-semibold">Datos de Matricula</h5>
            </div>
            <div class="card-body">
                <div class="row g-3">
                    @{
                        var ultimaMatricula = Model.Matriculas?
                        .OrderByDescending(m => m.FechaMatricula)
                        .FirstOrDefault();
                    }
                    @if (ultimaMatricula != null)
                    {
                        <div class="col-md-6">
                            <label class="control-label">Grado Actual:</label>
                            <input class="form-control" value="@ultimaMatricula.Grados?.Abreviacion" readonly disabled />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Año de Matricula:</label>
                            <input class="form-control" value="@ultimaMatricula.FechaMatricula.Year" readonly disabled />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Estado del estudiante:</label>
                            <input class="form-control" value="@ultimaMatricula.Estado.Estados" readonly disabled />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Coordinador:</label>
                            @if (@ultimaMatricula.Grados.Docente != null)
                            {
                                <input class="form-control" value="@ultimaMatricula.Grados.Docente.NombreCompleto" readonly disabled />
                            }
                            else
                            {
                                <input class="form-control" value="No tiene docente coordinador" readonly disabled />
                            }
                        </div>
                    }
                    else
                    {
                        <p class="text-muted">El estudiante aún no tiene matrícula registrada.</p>
                    }
                </div>
            </div>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a class="btn btn-secondary mx-2" asp-controller="Estudiantes" asp-action="Index">Regresar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function confirmarEliminacion(event) {
           event.preventDefault();
           Swal.fire({
               title: '¿Estás seguro?',
               text: "Esta acción no se puede deshacer, si borras al alumno Borras todas sus Matriculas!!!!.",
               icon: 'warning',
               showCancelButton: true,
               confirmButtonColor: '#d33',
               cancelButtonColor: '#3085d6',
               confirmButtonText: 'Sí, eliminar',
               cancelButtonText: 'Cancelar'
           }).then((result) => {
               if (result.isConfirmed) {
                   event.target.closest('form').submit();
               }
           });
        }
    </script>
}

