@model IEnumerable<SIGES_INDEL.Models.Docente>
@{
    ViewData["Title"] = "Listado de Docentes";
}

<h1 class="text-center">Lista de Estudiantes</h1>
<div class="row my-3">
    <div class="col-auto">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <div class="container">
                    <div class="row">
                        <div class="col"><label for="Buscar">Buscar segun NIP</label></div>
                        <div class="col"> <input type="number" name="Buscar" value="@ViewData["Buscar"]" class="form-control" /></div>
                        <div class="col"><input type="submit" value="Buscar" class="btn btn-success mx-2" /></div>
                        <div class="col"> <a asp-action="Index" class="btn btn-secondary d-inline"><i class="bi bi-person-lines-fill"></i></a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">

    @if (Model.Count() > 0)
    {
        @foreach (var docente in Model)
        {
            <div class="card shadow p-4 mb-4 bg-light border-2 border-info rounded-3" style="max-width: 900px; margin: auto;">
                <div class="card-body">
                    <div class="row g-4 align-items-start">
                        <!-- Imagen -->
                        <div class="col-md-3 d-flex justify-content-center align-self-stretch">
                            <div class="border border-info rounded text-center p-3 w-100 h-100 d-flex align-items-center justify-content-center fw-bold" style="min-height: 180px;">
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="mb-4">
                                <p class="fw-semibold fs-5 mb-3">NIP: @Html.DisplayFor(t=> docente.NIP)</p>
                                <p class="fw-semibold fs-5 mb-3">NOMBRE: @Html.DisplayFor(t => docente.NombreCompleto)</p>
                                <p class="fw-semibold fs-5 mb-4">GRADO COORDINACION:@Html.DisplayFor(t => docente.Grados.Abreviacion)</p>
                            </div>

                            <div class="d-flex justify-content-start gap-3">
                                <a class="btn btn-primary" asp-action="Detalle" asp-route-id="@docente.Id">Detalles</a>
                                <a class="btn btn-secondary" asp-action="Editar" asp-route-id="@docente.Id">Modificar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>Oops..... Sucedio Algo mal</h1>
    }
</div>


