@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<SIGES_INDEL.Models.Docente>
@{
    ViewData["Title"] = "Listado de Docentes";
}

<h1 class="text-center">Lista de Docentes</h1>
<div class="row my-3">
    <div class="col">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <div class="card shadow my-3 bg-light border-2 border-info rounded-3 p-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 fs-4"><label for="Buscar">Buscar segun NIP</label></div>
                            <div class="col-3"><input type="number" name="Buscar" value="@ViewData["Buscar"]" class="form-control"/></div>
                            <div class="col-3"><input type="submit" value="Buscar" class="btn btn-success" /></div>
                            <div class="col-3"><a asp-action="Index" class="btn btn-secondary">Lista completa <i class="bi bi-person-lines-fill"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">

    @if (Model.Count() > 0)
    {
        @foreach (var docente in Model)
        {
            <div class="col-4 text-center">
                <div class="card shadow my-3 bg-light border-2 border-info rounded-3">
                    <div class="card-header bg-info">
                        <div class="card-title">
                            <p class="fw-bold fs-5">NIP - @Html.DisplayFor(t => docente.NIP)</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                @if (docente.ImagenDocente != null)
                                {
                                    <img id="previewImagen" src="data:image/jpeg;base64,@Convert.ToBase64String(docente.ImagenDocente)"
                                         alt="Imagen de @docente.NombreCompleto"
                                         class="img-thumbnail m-2"
                                         style="max-width: 200px; height: 250px; object-fit: cover; border-radius: 10px;" />
                                }
                                else
                                {
                                    <img id="previewImagen" src="~/images/default-avatar.png"
                                         alt="Previsualización"
                                         class="img-thumbnail m-2"
                                         style="max-width: 200px; height: 250px; object-fit: cover; border-radius: 10px;" />
                                }
                            </div>
                            <div class="col">
                                <div class="my-4 text-start">
                                    <p class="fw-semibold fs-5">Nombre: @Html.DisplayFor(t => docente.NombreCompleto)</p>
                                    <p class="fw-semibold fs-5">Grado que coordina: @Html.DisplayFor(t => docente.Grados.Abreviacion)</p>
                                </div>

                                <div class="d-flex justify-content-start gap-3">
                                    <a class="btn btn-primary" asp-action="Detalle" asp-route-id="@docente.Id">Detalles</a>
                                    @if (User.IsInRole("Administrador"))
                                    {
                                        <a class="btn btn-secondary" asp-action="Editar" asp-route-id="@docente.Id">Modificar</a>
                                        <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@docente.Id">Eliminar</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>Oops..... Sucedio Algo mal</h1>
    }
</div>


