@model SIGES_INDEL.Models.Matriculas
@{
    SIGES_INDEL.Models.Estudiante estudiante = ViewBag.estudiante as SIGES_INDEL.Models.Estudiante;
    List<SIGES_INDEL.Models.Complementos.Estado> xestados = ViewBag.estado as List<SIGES_INDEL.Models.Complementos.Estado>;
    List<SIGES_INDEL.Models.Complementos.Grados> xgrados = ViewBag.grado as List<SIGES_INDEL.Models.Complementos.Grados>;
}
@{
    ViewData["Title"] = "Eliminar Matricula";
}
<form asp-action="Detalle" onsubmit="confirmarEliminacion(event)">
    <div class="container py-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h3 class="text-center mb-4 fw-bold">Matriculacion de @estudiante.NombreCompleto</h3>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label asp-for="EstudianteId" class="control-label"></label>
                                <input type="hidden" asp-for="EstudianteId" value="@estudiante.Id" />
                                <input type="number" value="@estudiante.NIE" class="form-control" readonly />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="FechaMatricula" class="control-label"></label>
                                <input asp-for="FechaMatricula" class="form-control" value="@Model.FechaMatricula.Year" readonly disabled />
                            </div>
                            <div class="col-md-6">
                                <label asp-for="EstadoId" class="control-label"></label>
                                <select asp-for="EstadoId" class="form-control" disabled>
                                    <option selected value="">Selecciona Estado</option>
                                    @foreach (var item in xestados)
                                    {
                                        <option value="@item.Id">@item.Estados</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label asp-for="GradosId" class="control-label"></label>
                                <select asp-for="GradosId" class="form-control" disabled>
                                    <option selected value="">Selecciona Grado</option>
                                    @foreach (var item in xgrados)
                                    {
                                        <option value="@item.Id">@item.Abreviacion</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="submit" class="btn btn-danger">Eliminar Matricula</button>
            <a class="btn btn-secondary me-2" asp-controller="Matriculas" asp-action="Index">Regresar</a>
        </div>
    </div>
</form>
@section Scripts {
    <script>
         function confirmarEliminacion(event) {
            event.preventDefault();
            Swal.fire({
                title: '!!!! ¿Estás seguro? !!!!',
                text: "Esta acción no se puede deshacer y puede causar Muchos problemas.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.closest('form').submit();
                }
            });
         }
    </script>
}
