@model IEnumerable<SIGES_INDEL.Models.Matriculas>
@{
    ViewData["Title"] = "Listado de Matriculas";
}

<h1 class="text-center">Lista de Matriculas</h1>
<div class="row my-3">
    <div class="col">
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <div class="card shadow my-3 bg-light border-2 border-info rounded-3 p-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 fs-4"><label for="Buscar">Buscar segun NIE</label></div>
                            <div class="col-3"><input name="Buscar" value="@ViewData["Buscar"]" class="form-control" /></div>
                            <div class="col-3"><input type="submit" value="Buscar" class="btn btn-success" /></div>
                            <div class="col-3"><a asp-action="Index" class="btn btn-secondary">Lista completa <i class="bi bi-person-lines-fill"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    @if (Model.Count() > 0)
    {
        @foreach (var matricula in Model)
        {
            <div class="col-12 my-3">
                <div class="card shadow bg-light border-2 border-primary rounded-3" style="max-width: 900px; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary fw-bold">Datos de Matrícula</h5>

                        <div class="row text-center align-items-center">
                            <div class="col-md">
                                <label class="form-label fw-semibold">@Html.DisplayNameFor(t => t.Id)</label>
                                <input type="text" class="form-control text-center" value="@Html.DisplayFor(t => matricula.Id)" readonly>
                            </div>

                            <div class="col-md">
                                <label class="form-label fw-semibold">@Html.DisplayNameFor(t => t.EstudianteId)</label>
                                <input type="text" class="form-control text-center" value="@Html.DisplayFor(t => matricula.Estudiante.NIE)" readonly>
                            </div>

                            <div class="col-md">
                                <label class="form-label fw-semibold">@Html.DisplayNameFor(t => t.FechaMatricula)</label>
                                <input type="text" class="form-control text-center" value="@Html.DisplayFor(t => matricula.FechaMatricula.Year)" readonly>
                            </div>

                            <div class="col-md">
                                <label class="form-label fw-semibold">@Html.DisplayNameFor(t => t.GradosId)</label>
                                <input type="text" class="form-control text-center" value="@Html.DisplayFor(t => matricula.Grados.Abreviacion)" readonly>
                            </div>

                            <div class="col-md">
                                <label class="form-label fw-semibold">@Html.DisplayNameFor(t => t.EstadoId)</label>
                                <input type="text" class="form-control text-center text-success fw-bold" value="@Html.DisplayFor(t => matricula.Estado.Estados)" readonly>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center gap-3 mt-2">
                            <a class="btn btn-primary" asp-action="Detalle" asp-route-id="@matricula.Id">Detalles</a>
                            <a class="btn btn-secondary" asp-action="Editar" asp-route-id="@matricula.Id">Modificar</a>
                            <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@matricula.Id">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>No hay Matriculas</h1>
    }

</div>


