@model SIGES_INDEL.Models.Estudiante

@{
    ViewData["Title"] = "Expediente del Estudiante";
}

<h1 class="text-center mb-4">Expediente de @Model.NombreCompleto</h1>

<div class="card shadow border-2 border-info rounded-3 mb-4 glass">
    <div class="card-header bg-info">
        <h4 class="text-dark text-center">Datos Generales</h4>
    </div>
    <div class="card-body">
        <div class="row text-center">
            <p class="col"><strong>NIE:</strong> @Model.NIE</p>
            <p class="col"><strong>Fecha Nacimiento:</strong> @Model.FechaNacimiento</p>
            <p class="col"><strong>Teléfono:</strong> @Model.Telefono</p>
        </div>
        <div class="row text-center">
            <p class="col"><strong>Representante:</strong> @Model.NombreCompletoRepresentante</p>
            <p class="col"><strong>DUI Representante:</strong> @Model.DUI</p>
            <p class="col"><strong>Teléfono Del Representante:</strong> @Model.TelefonoRepresentante</p>
        </div>
    </div>
</div>

<div class="card shadow border-2 border-info rounded-3 mb-4 glass">
    <div class="bg-info">
        <div class="card-title text-center text-dark"><h3>Agregar Al Expediente</h3></div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-evenly gap-3 mb-3">
            <a class="btn btn-success" asp-controller="Meritos" asp-action="Crear" asp-route-id="@Model.Id">Agregar un Merito</a>
            <a class="btn btn-danger" asp-controller="Demeritos" asp-action="Crear" asp-route-id="@Model.Id">Agregar un Demerito</a>
            <a class="btn btn-warning" asp-controller="Actas" asp-action="Crear" asp-route-id="@Model.Id">Agregar un Acta</a>
            <a class="btn btn-info" asp-controller="Fichas" asp-action="Crear" asp-route-id="@Model.Id">Agregar una Ficha</a>
        </div>
        <div class="d-flex justify-content-evenly gap-3">
            <span class="text-dark fs-bold"><strong>Total de Meritos: @Model.MeritosAsignados.Count()</strong></span>
            <span class="text-dark fs-bold"><strong>Total de Demeritos: @Model.DemeritosAsignados.Count()</strong></span>
            <span class="text-dark fs-bold"><strong>Total de Actas: @Model.ActasAsignadas.Count()</strong></span>
            <span class="text-dark fs-bold"><strong>Total de Fichas: @Model.FichasAsignadas.Count()</strong></span>
        </div>
    </div>
</div>

<div class="accordion accordion-flush" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-success text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong>Meritos</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    @if (Model.MeritosAsignados?.Any() == true)
                    {
                        @foreach (var merito in Model.MeritosAsignados)
                        {
                            <div class="col-4 mb-4 text-center">
                                <div class="card shadow border-2 border-success">
                                    <div class="card-header bg-success text-white">Méritos</div>
                                    <div class="card-body">
                                        <p>@merito.Meritos.Merito</p>
                                        <p><strong>@merito.Comentarios</strong></p>
                                        <p>
                                            <small>Asignado por: @merito.Docente?.NombreCompleto</small>
                                            <div class="d-flex justify-content-start gap-3">
                                                <a class="btn btn-primary" asp-controller="Meritos" asp-action="Detalle" asp-route-id="@merito.Id"><i class="bi bi-info-circle"></i></a>
                                                <a class="btn btn-secondary" asp-controller="Meritos" asp-action="Editar" asp-route-id="@merito.Id"><i class="bi bi-pencil"></i></a>
                                                <a class="btn btn-danger" asp-controller="Meritos" asp-action="Borrar" asp-route-id="@merito.Id"><i class="bi bi-trash"></i></a>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <p class="fs-bold"><strong>No se han registrado méritos.</strong></p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-danger text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong>Demeritos</strong>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    @if (Model.DemeritosAsignados?.Any() == true)
                    {
                        @foreach (var demerito in Model.DemeritosAsignados)
                        {
                            <div class="col-4 mb-4 text-center">
                                <div class="card shadow border-2 border-danger">
                                    <div class="card-header bg-danger text-white">Deméritos</div>
                                    <div class="card-body">
                                        <p>@demerito.Demeritos.Demerito</p>
                                        <p><strong>@demerito.Comentarios</strong></p>
                                        <p>
                                            <small>Asignado por: @demerito.Docente?.NombreCompleto</small>
                                            <div class="d-flex justify-content-start gap-3">
                                                <a class="btn btn-primary" asp-controller="Demeritos" asp-action="Detalle" asp-route-id="@demerito.Id"><i class="bi bi-info-circle"></i></a>
                                                <a class="btn btn-secondary" asp-controller="Demeritos" asp-action="Editar" asp-route-id="@demerito.Id"><i class="bi bi-pencil"></i></a>
                                                <a class="btn btn-danger" asp-controller="Demeritos" asp-action="Borrar" asp-route-id="@demerito.Id"><i class="bi bi-trash"></i></a>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <p class="fs-bold"><strong>No se han registrado Demeritos.</strong></p>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-warning text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong>Actas</strong>
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    @if (Model.ActasAsignadas?.Any() == true)
                    {
                        @foreach (var actas in Model.ActasAsignadas)
                        {
                            <div class="col-6 mb-4 text-center">
                                <div class="card shadow border-2 border-warning">
                                    <div class="card-header bg-warning text-white">Acta</div>
                                    <div class="card-body">
                                        <p>@actas.Acta</p>
                                        <p><strong>@actas.Comentarios</strong></p>
                                        <p>
                                            <small>Asignado por: @actas.Docente?.NombreCompleto</small>
                                            <div class="d-flex justify-content-start gap-3">
                                                <a class="btn btn-primary" asp-controller="Actas" asp-action="Detalle" asp-route-id="@actas.Id"><i class="bi bi-info-circle"></i></a>
                                                <a class="btn btn-secondary" asp-controller="Actas" asp-action="Editar" asp-route-id="@actas.Id"><i class="bi bi-pencil"></i></a>
                                                <a class="btn btn-danger" asp-controller="Actas" asp-action="Borrar" asp-route-id="@actas.Id"><i class="bi bi-trash"></i></a>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <p class="fs-bold"><strong>No se han registrado Actas.</strong></p>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <strong>Fichas</strong>
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    @if (Model.FichasAsignadas?.Any() == true)
                    {
                        @foreach (var fichas in Model.FichasAsignadas)
                        {
                            <div class="col-6 mb-4 text-center">
                                <div class="card shadow border-2 border-info">
                                    <div class="card-header bg-info text-white">Ficha</div>
                                    <div class="card-body">
                                        <p>@fichas.Ficha</p>
                                        <p><strong>@fichas.Comentarios</strong></p>
                                        <p>
                                            <small>Asignado por: @fichas.Docente?.NombreCompleto</small>
                                            <div class="d-flex justify-content-start gap-3">
                                                <a class="btn btn-primary" asp-controller="Fichas" asp-action="Detalle" asp-route-id="@fichas.Id"><i class="bi bi-info-circle"></i></a>
                                                <a class="btn btn-secondary" asp-controller="Fichas" asp-action="Editar" asp-route-id="@fichas.Id"><i class="bi bi-pencil"></i></a>
                                                <a class="btn btn-danger" asp-controller="Fichas" asp-action="Borrar" asp-route-id="@fichas.Id"><i class="bi bi-trash"></i></a>
                                            </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <p class="fs-bold"><strong>No se han registrado Fichas.</strong></p>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-controller="Estudiantes" asp-action="Index" class="btn btn-secondary">Volver a Estudiantes</a>
</div>

